<template>
  <div class="chat__box border" @click="transitionToChatPage">
    <div class="chat__box--img">
      <img :src="imgURL" class="img img__border">
    </div>
    <div class="chat__box--content">
      <div class="chat__box--title">
        <h3 class="font--montserrat">{{ displayName }}
          <span class="chat__box--green" v-show="online">&bull;</span>
        </h3>
      </div>
      <div class="chat__box--lastmsg">
        <p class="chat__box--lastmsg--msg">{{ lastMsg }}
          <span class="chat__box--blue">{{ lastMsgRead }}</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatBox',
  props: {
    displayName: {
      type: String,
      required: true,
    },
    imgURL: {
      type: String,
    },
    online: {
      type: Boolean,
      required: true,
    },
    lastMsg: {
      type: String,
    },
    msgColl: {
      type: String,
      required: true,
    },
    lastMsgRead: {
      type: String,
    },
  },
  methods: {
    transitionToChatPage() {
      this.$router.push(`/chat/${this.msgColl}/${this.displayName}`);
    },
  },
};
</script>
