<template>
  <div class="msg_container">
    <div class="msg_container__img">
      <img :src="image" alt="" class="avatar">
    </div>
    <div class="msg_container__body">
      <span class="sender">{{ username }}
        <span class="timestamp">{{ timestamp }}</span>
      </span>
      <ul class="textList">
        <li class="text" v-for="(message , index) in messages" :key="index"><pre>{{ message.data }}</pre></li>
      </ul>
    </div>
  </div>
</template>

<script>
import m from 'moment';
import { database as db } from 'firebase';

export default {
  name: 'MessageBox',
  props: {
    sender: {
      type: String,
      required: true,
    },
    time: Number,
    messages: Array,
  },
  data() {
    return {
      timestamp: m(this.time).fromNow(),
      interval: null,
      image: '',
      username: '',
    };
  },
  methods: {
    timestampUpdate() {
      this.timestamp = m(this.time).fromNow();
    },
    getImageAndProfile() {
      db().ref(`/user/${this.sender}`).on('value', (snap) => {
        const val = snap.val();
        this.username = val.name;
        this.image = val.photo;
      });
    },
  },
  mounted() {
    this.interval = setInterval(this.timestampUpdate, 30000);
    this.getImageAndProfile();
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>

<style scoped>
pre{
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica Neue,Arial,sans-serif;
  margin: 0;
  white-space: pre-wrap !important;
}
</style>

