<template>
  <div class="chat__box border" @click="createChat">
    <div class="chat__box--img">
      <img :src="imgUrl" alt="" class="img img__border" />
    </div>
    <div class="chat__box--content">
      <div class="chat__box--title">
        <h3 class="font--montserrat">{{ name }}
          <span v-if="online" class="chat__box--green">&bull;</span>
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
import { database as db } from 'firebase';

export default {
  props: {
    imgUrl: String,
    name: String,
    online: Boolean,
    uid: String,
  },
  computed: {
    uid_1() {
      return this.$store.getters.user.id;
    },
  },
  methods: {
    createChat() {
      // eslint-disable-next-line camelcase
      const s_1 = this.uid;
      // eslint-disable-next-line camelcase
      const s_2 = this.uid_1;
      const chatRef = db().ref('/chats');
      const msgColl = db().ref('msgColl');
      msgColl.push({
        placeholder: 'test',
      }).then((val) => {
        const msgCollRef = val.key;
        chatRef.push({
          s_1,
          s_2,
          msgCollRef,
        });
        msgColl.child(msgCollRef).set({}).then(() => {
          this.$router.push(`/chat/${msgCollRef}/${this.name}`);
        });
      });
    },
  },
};
</script>
