<template>
  <div>
    <nav class="msg_head">
      <h1 class="msg_head__item white--color">{{dName}}</h1>
    </nav>
    <div class="flex-center" v-show="msgLoading">
      <img class="msg-loader" src="../assets/msg_loader.svg" />
    </div>
    <div class="msg_wrapper">
      <div class="msgs white--color" @scroll="checkScrollable">
        <MessageBox v-for="(message,index) in messages" :key="index" :sender="message[0].sender" :time="message[0].timestamp" :messages="message" />
      </div>
      <div class="input-floating-bottom">
        <form @submit="handleFormSubmit" class="input-bottom-form white--color">
          <textarea v-model="message" @keyup="increaseHeight" @keypress="increaseHeight" @blur="orgHeight" placeholder="Your message goes here" class="main-text-field white--color"></textarea>
          <input type="submit" value="" class="submit-btn-bottom">
          </input>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import * as fb from 'firebase';
import MessageBox from './chats/MessageBox';

export default {
  components: {
    MessageBox,
  },
  data() {
    return {
      message: '',
      scroll: true,
      dName: this.$route.params.name,
    };
  },
  created() {
    this.$store.dispatch('getMesseges', {
      msgColl: this.$route.params.msgId,
    });
  },
  mounted() {
    document.querySelector('body').classList.add('opacity__bg');
  },
  beforeDestroy() {
    document.querySelector('body').classList.remove('opacity__bg');
  },
  name: 'Chat',
  computed: {
    messages() {
      const mFS = this.$store.getters.messages;
      const msgArray = mFS ? Object.values(mFS) : null;
      if (msgArray) {
        const msgs = [];
        let msgPlaceholder = [];
        if (msgArray.length !== 1) {
          msgPlaceholder.push(msgArray[0]);
          for (let i = 1; i < msgArray.length; i++) {
            // Starting the algorihm
            if (msgArray[i].timestamp - msgArray[i - 1].timestamp <= 90000
              && i + 1 !== msgArray.length
              && msgArray[i].sender === msgArray[i - 1].sender) {
              msgPlaceholder.push(msgArray[i]);
            } else if (i + 1 === msgArray.length) {
              if (msgArray[i].timestamp - msgArray[i - 1].timestamp <= 90000
                && msgArray[i].sender === msgArray[i - 1].sender) {
                msgPlaceholder.push(msgArray[i]);
                msgs.push(msgPlaceholder);
              } else {
                msgs.push(msgPlaceholder);
                msgs.push([msgArray[i]]);
              }
            } else {
              msgs.push(msgPlaceholder);
              msgPlaceholder = [];
              msgPlaceholder.push(msgArray[i]);
            }
          }
          return msgs;
        }
        return [msgArray];
      }
      return [];
    },
    msgLoading() {
      return this.$store.getters.isMsgLoading;
    },
    user() {
      return this.$store.getters.user;
    },
  },
  watch: {
    messages() {
      if (this.scroll) {
        setTimeout(this.scrollMethod, 350);
      }
    },
    msgLoading(next) {
      if (!next) {
        setTimeout(() => {
          document.querySelector('.msgs').scrollTop = document.querySelector('.msgs').scrollHeight + 1000;
        }, 450);
      }
    },
  },
  methods: {
    scrollMethod() {
      document.querySelector('.msgs').scrollTop = document.querySelector('.msgs').scrollHeight + 1000;
    },
    checkScrollable(e) {
      const scrollVal = window.innerHeight * 2.3;
      if ((e.target.scrollHeight - e.target.scrollTop) > scrollVal) {
        this.scroll = false;
      } else {
        this.scroll = true;
      }
    },
    increaseHeight(e) {
      if (e.keyCode === 13 && !e.shiftKey) {
        this.handleFormSubmit(e);
      } else {
        e.target.style.height = `${e.target.scrollHeight}px`;
      }
    },
    orgHeight(e) {
      if (e.target.value.split(' ').length > 100 || e.target.value === '') {
        e.target.style.height = '45px';
      }
    },
    handleFormSubmit(e) {
      e.preventDefault();
      if (this.message) {
        fb.database().ref(`/msgColl/${this.$route.params.msgId}`).push({
          timestamp: fb.database.ServerValue.TIMESTAMP,
          data: this.message.trim(),
          type: 'text',
          sender: this.user.id,
        });
        this.message = '';
      }
    },
  },
};
</script>

<style scoped>
.flex-5 {
  flex: 3;
}

.main-text-area {
  width: 100%;
}

.box-submit {
  flex: 1;
}
</style>
