<template>
  <div>
    <nav class="header">
      <ul class="list__none">
        <li class="header__item header__item--first">
          <a href="/" class="font--montserrat">All Chats</a>
        </li>
        <li class="header__item header__item--logo">
          <h3 class="font--kaushan">ChatAoo</h3>
        </li>
        <li class="header__item header__item--img"><img class="img img__border" :src="user.photoURL" alt=""></li>
      </ul>
    </nav>
    <div class="flex-center" v-show="msgLoading">
      <img class="msg-loader" src="../assets/msg_loader.svg" />
    </div>
    <div v-show="!msgLoading">
      <ChatBox v-for="chat in chats" :uid="user.id" :key="chat.msgCollRef" :msgColl="chat.msgCollRef" :displayName="chat.sender" :imgURL="chat.imageURL" :online="chat.online" :lastMsg="chat.lastMsg" :lastMsgRead="chat.lastMsgStatus" />
    </div>

    <div class="model model__floating--bottom" @click="toggleModal">
    </div>
    <div class="modal-container animate-top" v-show="modelOn" @click="toggleModal">
      <div class="flex__container">
        <div class="modal-content">
          <h2 class="center font--montserrat">Search Users</h2>
          <div class="flex__container--justifyonly">
            <form @submit="handleRequest">
              <input v-model="query" class="model__input font--montserrat" placeholder="Type a query" />
            </form>
            <h4 v-if="(search_data.length == 0)" class="font--montserrat type">{{ search_msg }}</h4>
            <div v-if="(search_data.length > 0)" class="card__border">
              <SearchBox v-for="(user, index) of search_data" :uid="user.id" :key="index" :imgUrl="user.photo" :name="user.name" :online="user.online"  />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ChatBox from './chats/ChatBox';
import SearchBox from './chats/SearchBox';

export default {
  name: 'home',
  components: {
    ChatBox,
    SearchBox,
  },
  created() {
    this.$store.dispatch('getChats');
  },
  metaInfo: {
    title: 'Home',
  },
  data() {
    return {
      modelOn: false,
      user: this.$store.getters.user,
      query: '',
      search_data: [],
      search_msg: 'Type name of user and press enter',
    };
  },
  computed: {
    chats() {
      return this.$store.getters.chats;
    },
    msgLoading() {
      return this.$store.getters.isMsgLoading;
    },
  },
  methods: {
    toggleModal(e) {
      if (e.target.className === 'flex__container' || e.target.className === 'model model__floating--bottom') {
        this.modelOn = !this.modelOn;
      }
    },
    handleRequest(e) {
      e.preventDefault();
      const query = this.query.toLowerCase();
      if (query) {
        this.search_msg = 'Searching...';
        this.search_data = [];
        fetch(`https://us-central1-chataoo-5021c.cloudfunctions.net/app/search?name=${query}`)
          .then(res => res.json())
          .then((data) => {
            if (data.length > 0) {
              this.search_data = data;
            } else {
              this.search_msg = 'No user Found!!';
            }
          });
      }
    },
  },
};
</script>

<style scoped>
.loader {
  height: 50px;
  width: 50px;
}

.type {
  margin-top: 50px;
}

@media all and (max-height:515px){
  .model__floating--bottom{
    top: 78% !important;
  }
}

</style>
