<template>
  <div class="wrapper">
    <div class="card">
      <h3 class="font--kaushan">ChatAoo</h3>
      <p class="wide--text font--montserrat">LOGIN WITH</p>
      <div class="button__group button__group--vertical">
        <button @click="dispatchLogin('facebook')" class="bg bg__fb button font--montserrat">
          <i class="fa fa-facebook-official fa-2x"></i>
          <span class="btn__text">Facebook</span>
        </button>
        <button @click="dispatchLogin('google')" class="bg bg__gplus button font--montserrat">
          <i class="fa fa-google-plus-official fa-2x"></i>
          <span class="btn__text"> Google+</span>
        </button>
        <button @click="dispatchLogin('twitter')" class="bg bg__twit button font--montserrat">
          <i class="fa fa-twitter fa-2x"></i>
          <span class="btn__text">Twitter</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },
  watch: {
    user(value) {
      if (value !== null && value !== undefined) {
        const to = decodeURIComponent(this.$route.query.next);
        this.$router.replace(to || '/');
      }
    },
  },
  methods: {
    dispatchLogin(provider) {
      this.$store.dispatch('login', { provider });
    },
  },
  metaInfo: {
    title: 'Login',
    link: [
      { rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' },
    ],
  },
};
</script>



