<template>
  <div id="app">
    <router-view v-show="loading"></router-view>
    <div class="flex-center" v-show="!loading">
      <img class="loader" src="./assets/loader.svg" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  metaInfo: {
    title: 'Chat with Swag!',
    titleTemplate: '%s | ChatAoo',
    meta: [
      {
        name: 'viewport',
        content: 'width=device-width,initial-scale=1',
      },
    ],
  },
  computed: {
    loading() {
      return !this.$store.getters.isLoading;
    },
  },
};
</script>

<style>
.loader {
  height: 135px;
  width: 135px;
}

.flex-center {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
</style>
